<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <title>PeerPair - Collaborate. Relate. Educate.</title>

    <style>
        html, body {
            margin: 0;
            padding: 0;
            font-family: "Roboto", sans-serif;
        }

        html {
            background-color: #0F0333;
            color: white;
        }

        a {
            text-decoration: none;
            color: white;
            font-weight: bold;
        }

        .btn {
            border: none;
            outline: none;
            background-color: white;
            padding: 8px 16px;
            border-radius: 4px;
            color: white;
            cursor: pointer;
        }

        .btn.btn-outline {
            background-color: transparent;
            border: 2px solid white;
        }

        .btn.btn-success {
            background-color: #88CC86;
            color: white;
        }
    </style>
</head>
<body>
    <img src="/blob.svg" style="position: absolute; top: 0; left: 0; z-index: -1;">
    <img src="/blob-right.svg" style="position: absolute; right: 0; top: 20vh; z-index: -1;">

    <div style="height: 100vh;">
        <nav style="display: flex; align-items: center; padding: 1.5rem 7vw; z-index: 1; background: transparent;">
            <div style="display: flex; flex: 1; gap: 16px;">
                <img src="/icon.svg" style="width: 72px;" />
                <h3 style="font-size: 2rem;">PeerPair</h3>
            </div>
            <div style="display: flex; justify-content: center; align-items: center; gap: 32px;">
                <a href="#">Login</a>
                <a href="#" class="btn btn-outline">Sign Up</a>
            </div>
        </nav>

        <div class="hero-section" style="margin: 8rem; display: flex; gap: 16px;">
            <div>
                <h1 style="font-size: 3rem;">Collaborate. Relate.<br>Educate.</h1>
                <p style="font-size: 1.5rem; max-width: 50vw;">Start learning with people with the same interests as you. Build your network of peers and grow together, learn together. Complete jobs and internships to gain experience and make your way to the industry.<br><br><b>Start your journey to the top.</b></p>
                <a class="btn btn-success" style="font-size: 1.25rem; position: relative; top: 2rem;">Start My Journey <i class="fas fa-chevron-right"></i></a>
            </div>
            <div>
                <img src="collaborate.svg" style="width: 80%;">
            </div>
        </div>
    </div>

    <div style="height: 100vh">
    </div>
</body>
</html>