<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <title>PeerPair - Collaborate. Relate. Educate.</title>

    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
    {{> _sidenav}}
    
    <div style="padding-left: 300px;">
        <div class="header" style="padding: 2rem; display: flex;">
            <h2 style="flex: 1; margin: 0;">Dashboard</h2>
            <div style="display: flex; justify-content: center; align-items: center;">
                <a href="#" style="font-weight: normal; display: flex; justify-content: center; gap: 16px; align-items: center;">John Doe <i style="margin-left: 8px;" class="fas fa-chevron-down"></i></a>
            </div>
        </div>

        <div>
            {{{body}}}
        </div>
    </div>
</body>
</html>