<div style="display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 16px; padding: 2rem;">
    <div style="background-color: blue; border-radius: 8px; text-align: center; padding: 32px;">
        <h1 style="font-size: 3rem; margin: 0;">20</h1>
        <h3 style="margin-bottom: 0; font-weight: lighter;">Credits</h3>
    </div>
    <div style="background-color: #DC6858; border-radius: 8px; text-align: center; padding: 32px;">
        <h1 style="font-size: 3rem; margin: 0;">3</h1>
        <h3 style="margin-bottom: 0; font-weight: lighter;">Live Sessions</h3>
    </div>
    <div style="background-color: #76CD57; border-radius: 8px; text-align: center; padding: 32px;">
        <h1 style="font-size: 3rem; margin: 0;">10</h1>
        <h3 style="margin-bottom: 0; font-weight: lighter;">Questions Unanswered</h3>
    </div>
</div>