<img src="/blob.svg" style="position: absolute; top: 0; left: 0; z-index: -1;">
<img src="/blob-right.svg" style="position: absolute; right: 0; top: 20vh; z-index: -1;">

<div class="main">
    <nav class="navbar">
        <div class="logo">
            <img src="/icon.svg" style="width: 72px;" />
            <h3 style="font-size: 2rem;">PeerPair</h3>
        </div>
        <div class="links">
            <a href="/login">Login</a>
            <a href="/register" class="btn btn-outline">Sign Up</a>
        </div>
    </nav>

    <div class="hero-section">
        <div>
            <h1>Collaborate. Relate.<br>Educate.</h1>
            <p>Start learning with people with the same interests as you. Build your network of and grow together, learn together. Complete jobs and internships to gain experience and make your way to the industry.<br><br><b>Start here, with us.</b></p>
            <a class="btn btn-success highlight">Start My Journey <i class="fas fa-chevron-right"></i></a>
        </div>
        <div class="illustration">
            <img src="collaborate.svg" style="max-width: 80%;">
        </div>
    </div>
</div>

<div class="main dark">
    <h1>Features / Lifecycle</h1>
    <div class="features">
        <div class="feature-item">
            <img src="Community.svg" />
            <div class="content">
                <h1 style="margin: 0; font-size: 2rem;">Collaboration</h1>
                <p style="font-size: 1.25rem">Collaborate with your peers and learn certain homeworks together. We pair people that are of the same grade level, or if not available people of higher grade level than the current user.</p>
            </div>
        </div>
        <div class="feature-item">
            <img src="Achievement.svg" />
            <div class="content">
                <h1 style="margin: 0; font-size: 2rem;">Achievements</h1>
                <p style="font-size: 1.25rem">We give reward to those that are given positive feedback from their peers and likewise punish those who go against our Policy. Bullying and vulgar behaviour will be tolerated.</p>
            </div>
        </div>
        <div class="feature-item">
            <img src="Growth.svg" />
            <div class="content">
                <h1 style="margin: 0; font-size: 2rem;">Grow Your Knowledge</h1>
                <p style="font-size: 1.25rem">As a famous saying goes, if you can’t explain it then you most likely don’t quite deeply understand it yourself. Therefore we highly encourage students to reach out to others that are in need and try to explain concepts to their peers.</p>
            </div>
        </div>
        <div class="feature-item">
            <img src="Review.svg"/>
            <div class="content">
                <h1 style="margin: 0; font-size: 2rem;">Increase Your Reputation</h1>
                <p style="font-size: 1.25rem">We give reward to those that are given positive feedback from their peers and likewise punish those who go against our Policy. Bullying and vulgar behaviour will be tolerated.</p>
            </div>
        </div>
        <div class="feature-item">
            <img src="Chat.svg"/>
            <div class="content">
                <h1 style="margin: 0; font-size: 2rem;">Earn Experience By Doing</h1>
                <p style="font-size: 1.25rem">Through our platform you can do jobs that require NO EXPERIENCE. This will allow you to gain experience and earn money while being a student.</p>
            </div>
        </div>
        <div class="feature-item blue" style="padding: 2rem;">
            <div class="content">
                <h1 style="margin: 0; font-size: 2rem;">Graduate our Platform</h1>
                <p style="font-size: 1.25rem">Once you graduate you can still use our app up until your `.edu` email expires. Our number one priority is to give other new students a chance to gain experience. Worry not though, you will forever be remembered added to our <a href="/student-list">Hall of Former Peers</a>.</p>
            </div> 
        </div>
    </div>
</div>

<div class="main">
    <div class="card">
        <div class="card-header">
            <h1>Sign Up</h1>
        </div>
        <div class="card-content">
            <div class="form-grid two-col">
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    <input type="text" id="first_name" name="first_name" placeholder="John" />
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    <input type="text" id="last_name" name="last_name" placeholder="Doe" />
                </div>
            </div>
            <div class="form-grid one-col">
                <div class="form-group">
                    <label for="email_address">Email Address</label>
                    <input type="email" id="email_address" name="email_address" placeholder="example@ateneo.edu" />
                    <small>Don't have a <b>.edu</b> email? <a href="#" style="color: blue;">Upload file</a> here.</small>
                </div>
            </div>
            <div class="form-grid one-col">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="********" />
                </div>
            </div>
            <div class="form-grid one-col">
                <div class="form-group">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" id="confirm_password" name="confirm_password" placeholder="********" />
                </div>
            </div>
            <div style="display: flex; justify-content: flex-end;">
                <button class="btn btn-success"><i class="fas fa-check"></i> Sign Up</button>
            </div>
        </div>
    </div>
</div>