<img src="/blob.svg" style="position: absolute; top: 0; left: 0; z-index: -1;">
<img src="/blob-right.svg" style="position: absolute; right: 0; top: 20vh; z-index: -1;">

<div style="height: 100vh;">
    <nav style="display: flex; align-items: center; padding: 1.5rem 7vw; z-index: 1; background: transparent;">
        <div style="display: flex; flex: 1; gap: 16px;">
            <img src="/icon.svg" style="width: 72px;" />
            <h3 style="font-size: 2rem;">PeerPair</h3>
        </div>
        <div style="display: flex; justify-content: center; align-items: center; gap: 32px;">
            <a href="#">Login</a>
            <a href="#" class="btn btn-outline">Sign Up</a>
        </div>
    </nav>

    <div class="hero-section" style="margin: 8rem; display: flex; gap: 16px;">
        <div>
            <h1 style="font-size: 3rem;">Collaborate. Relate.<br>Educate.</h1>
            <p style="font-size: 1.5rem; max-width: 50vw;">Start learning with people with the same interests as you. Build your network of and grow together, learn together. Complete jobs and internships to gain experience and make your way to the industry.<br><br><b>Start your journey to the top.</b></p>
            <a class="btn btn-success" style="font-size: 1.25rem;">Start My Journey <i class="fas fa-chevron-right"></i></a>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;">
            <img src="collaborate.svg" style="max-width: 80%;">
        </div>
    </div>
</div>

<div style="min-height: 100vh; padding: 2rem 2vw; background-color: #1d0303;">
    <h1 style="font-size: 3rem;">Features / Lifecycle</h1>
    <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 32px; justify-content: center;">
        <div style="display: flex; gap: 16px;">
            <img src="Community.svg" style="width: 100px;" />
            <div style="display: flex; flex-direction: column; justify-content: center; max-width: 50vw;">
                <h1 style="margin: 0; font-size: 2rem;">Collaboration</h1>
                <p style="font-size: 1.25rem">Collaborate with your peers and learn certain homeworks together. We pair
                    people that are of the same grade level, or if not available people of higher grade level than the
                    current user.</p>
            </div>
        </div>
        <div style="display: flex; flex-direction: row-reverse; gap: 16px;">
            <img src="Achievement.svg" style="width: 100px;" />
            <div style="display: flex; flex-direction: column; justify-content: center; max-width: 50vw;">
                <h1 style="margin: 0; font-size: 2rem;">Achievements</h1>
                <p style="font-size: 1.25rem">We give reward to those that are given positive feedback from their peers
                    and likewise punish those who go against our Policy. Bullying and vulgar behaviour will be
                    tolerated.</p>
            </div>
        </div>
        <div style="display: flex; gap: 16px;">
            <img src="Growth.svg" style="width: 100px;" />
            <div style="display: flex; flex-direction: column; justify-content: center; max-width: 50vw;">
                <h1 style="margin: 0; font-size: 2rem;">Grow Your Knowledge</h1>
                <p style="font-size: 1.25rem">As a famous saying goes, if you can’t explain it then you most likely
                    don’t quite deeply understand it yourself. Therefore we highly encourage students to reach out to
                    others that are in need and try to explain concepts to their peers.</p>
            </div>
        </div>
        <div style="display: flex; flex-direction: row-reverse; gap: 16px;">
            <img src="Review.svg" style="width: 100px;" />
            <div style="display: flex; flex-direction: column; justify-content: center; max-width: 50vw;">
                <h1 style="margin: 0; font-size: 2rem;">Increase Your Reputation</h1>
                <p style="font-size: 1.25rem">We give reward to those that are given positive feedback from their peers
                    and likewise punish those who go against our Policy. Bullying and vulgar behaviour will be
                    tolerated.</p>
            </div>
        </div>
        <div style="display: flex; gap: 16px;">
            <img src="Chat.svg" style="width: 100px;" />
            <div style="display: flex; flex-direction: column; justify-content: center; max-width: 50vw;">
                <h1 style="margin: 0; font-size: 2rem;">Earn Experience By Doing</h1>
                <p style="font-size: 1.25rem">Through our platform you can do jobs that require NO EXPERIENCE. This will
                    allow you to gain experience and earn money while being a student.</p>
            </div>
        </div>
        <div style="display: flex; gap: 16px; background-color: blue;">
            <div
                style="display: flex; flex-direction: column; justify-content: center; max-width: 50vw; padding: 32px;">
                <h1 style="margin: 0; font-size: 2rem;">Graduate our Platform</h1>
                <p style="font-size: 1.25rem">Once you graduate you can still use our app up until your `.edu` email
                    expires. Our number one priority is to give other new students a chance to gain experience. Worry
                    not though, you will forever be remembered added to our <a href="/student-list">Hall of Former
                        Peers</a>.</p>
            </div>
        </div>
    </div>
</div>

<div style="min-height: 100vh; margin: 0 2vw; position: relative; top: 256px;">
    <div class="card"
        style="border-radius: 4px; display: flex; flex-direction: column; margin: 2rem auto; padding: 8px; width: 50vw; background-color: white; color: black; box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);">
        <div class="card-header">
            <h1>Sign Up</h1>
        </div>
        <div class="card-content">
            <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 16px; margin-bottom: 0.75rem;">
                <div class="form-group">
                    <label for="first_name" style="font-size: 1.25rem; font-weight: bold;">First Name</label>
                    <input type="text" id="first_name" name="first_name" placeholder="John"
                        style="box-sizing: border-box; width: 100%; display: block; padding: 8px; outline: none; border: 2px solid black; border-radius: 4px;" />
                </div>
                <div class="form-group">
                    <label for="last_name" style="font-size: 1.25rem; font-weight: bold;">Last Name</label>
                    <input type="text" id="last_name" name="last_name" placeholder="Doe"
                        style="box-sizing: border-box; width: 100%; display: block; padding: 8px; outline: none; border: 2px solid black; border-radius: 4px;" />
                </div>
            </div>
            <div style="display: grid; grid-template-columns: 1fr; gap: 16px; margin-bottom: 0.75rem;">
                <div class="form-group">
                    <label for="email_address" style="font-size: 1.25rem; font-weight: bold;">Email Address</label>
                    <input type="email" id="email_address" name="email_address" placeholder="example@ateneo.edu"
                        style="box-sizing: border-box; width: 100%; display: block; padding: 8px; outline: none; border: 2px solid black; border-radius: 4px;" />
                    <small>Don't have a <b>.edu</b> email? <a href="#" style="color: blue;">Upload file</a>
                        here.</small>
                </div>
            </div>
            <div style="display: grid; grid-template-columns: 1fr; gap: 16px; margin-bottom: 0.75rem;">
                <div class="form-group">
                    <label for="password" style="font-size: 1.25rem; font-weight: bold;">Password</label>
                    <input type="password" id="password" name="password" placeholder="********"
                        style="box-sizing: border-box; width: 100%; display: block; padding: 8px; outline: none; border: 2px solid black; border-radius: 4px;" />
                </div>
            </div>
            <div style="display: grid; grid-template-columns: 1fr; gap: 16px; margin-bottom: 0.75rem;">
                <div class="form-group">
                    <label for="confirm_password" style="font-size: 1.25rem; font-weight: bold;">Confirm
                        Password</label>
                    <input type="password" id="confirm_password" name="confirm_password" placeholder="********"
                        style="box-sizing: border-box; width: 100%; display: block; padding: 8px; outline: none; border: 2px solid black; border-radius: 4px;" />
                </div>
            </div>
            <div style="display: flex; justify-content: flex-end;">
                <button class="btn btn-success"><i class="fas fa-check"></i> Sign Up</button>
            </div>
        </div>
    </div>
</div>